@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital@0;1&display=swap');

* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

body {
   overflow-x: hidden;
   max-width: 2160px;
}

.fundo {

   background-image: url(/img/fundoUZU.png);
   background-repeat: no-repeat;
}

#nav {
   position: absolute;
   left: 0px;
   height: 40px;
   background-color: rgb(44, 44, 44);
   width: 100%;
   text-align: center;
}

#nav ul {
   margin: 0;
   padding: 0;
   display: inline-block;
}

.titulo {
   color: white;
   font-family: archivo narrow;
   font-weight: 400;
   font-size: 4vh;
   padding: 20px;
}

.descricao {
   color: white;
   font-family: archivo narrow;
   font-weight: 400;
   font-size: 2.5vh;
}

.sombra{
   box-shadow: black 0px 0px 15px;
   border: 2px solid rgba(255, 255, 255, 0);
   border-radius: 10px;
}

.texto {
   color: black;
   font-family: archivo narrow;
   font-size: 3vh;
   line-height: 40px;
}

.botao {
   background-color: rgb(175, 93, 107);
   border-radius: 10px;
   border:  rgb(226, 140, 154);
   padding: 5px;
   font-family: archivo narrow;
   font-size: 2vh;
   color: white;
   width: 130px;
}